

.card{
  width: 300px;
  height: 400px;
  border: 10px solid #000;
  margin: 10px;
  border-radius: 5px;
}

.image{
  width: 100%;
  height: 100%;

}

.para{
  margin-left: 5px;
  font-size: 20px;
  font-weight: 500;
}